# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Fortran modules
*.mod

# Python objects
*.pyc
*egg-info/*

# Testing executables
ctest
ftest
verify

# CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles/*
Makefile
build/*
dist/*

# VIM
*.swp

# Qt Creator
CMakeLists.txt.user
