# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Fortran modules
*.mod

# Python objects
*.pyc
*egg-info/*

# Result dirs
build/*
lib/*
test/*
dist/*
doc/latex
doc/html

# Mac OS X Frameworks
*.framework

# Clang
*.dSYM

# VIM
*.swp

# Qt Creator
CMakeLists.txt.user

# PyCharm
.idea
coverage

# CMake
CMakeFiles/*
CMakeCache.txt
install_manifest.txt
cmake_install.cmake
Makefile
build/*
Testing/*
CTestTestfile.cmake
